.item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  width: 300px;
}

.no-space {
  font-size: 0;
}

.item footer {
  height: 0;
}

.row {
  position: relative;
  margin: 0 auto;
  min-width: 700px;
  width: 940px;
}

footer,
.item {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: height,width,top;
  -moz-transition-property: height,width,top;
  -o-transition-property: height,width,top;
  transition-property: height,width,top;
  -ms-transition-duration: 0.4s;
  -ms-transition-timing-function: ease-in-out;
  -ms-transition-property: height,width,top;
}

/**** You can remove this ****/

html,body {
  padding: 0;
  margin: 0;
}

.item footer {
  background: #DDD;
}

.item:nth-child(even) {
  line-height: 400px;
}

.item:nth-child(3) {
  line-height: 500px;
}

.item:nth-child(4n) {
  line-height: 240px;
}

.item {
  float: none;
  font-size: 120px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  line-height: 300px;
  font-family: "Century Gothic";
  text-align: center;
}

.item footer .inner {
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
  text-align: justify;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Century Gothic';
  src: url('fonts/century_gothic/font.eot');
  src: url('fonts/century_gothic/font.eot?#iefix') format('embedded-opentype'),
       url('fonts/century_gothic/font.woff') format('woff'),
       url('fonts/century_gothic/font.ttf') format('truetype'),
       url('fonts/century_gothic/font.svg#century_gothic') format('svg');
}
