.item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  background: #ddd;
  width: 10%;
}

.no-space {
  font-size: 0;
}

.item footer {
  height: 0;
}

.row {
  position: relative;
}

.masonary-item {
  position: absolute;
}

/**** You can remove this ****/

.time {
  background: #ffaaaa;
  z-index: 1;
  position: fixed;
  padding: 20px;
  background-color: rgba(255, 0, 51, 0.7);
  font-size: 30px;
  top: 0;
  left: 0;
}

html,body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic";
}

.item:nth-child(even) {
  line-height: 100px;
}

.item:nth-child(5n) {
  line-height: 170px;
}

.item:nth-child(3n) {
  line-height: 50px;
}

.item {
  float: none;
  font-size: 50px;
  cursor: pointer;
  line-height: 300px;
  text-align: center;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Century Gothic';
  src: url('fonts/century_gothic/font.eot');
  src: url('fonts/century_gothic/font.eot?#iefix') format('embedded-opentype'),
       url('fonts/century_gothic/font.woff') format('woff'),
       url('fonts/century_gothic/font.ttf') format('truetype'),
       url('fonts/century_gothic/font.svg#century_gothic') format('svg');
}
